.jumbotron {
  background-color: dimgrey;
  text-align: center;
}
.topnav {
  background-color: black;
}

#qn {
  font-weight: bold;
  background-color: white;
}

#bd {
  background-color: tan;
  border-radius: 90px;
  margin-bottom: 10px;

}
#quest {
  background-color: white;
  border-radius: 90px;
  margin-bottom: 10px;
  height: 280px;
  width:480px;
  border: 5px solid blue;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: serif;
}

.body {
  background-color: silver;
  background-image: image(image.jpg);
}

#nque {
  background-color: inherit;
  border-radius: 50px;
  margin-bottom: 10px;
}
