<!-- <div class= "container">
  <header class= "jumbotron">
    <h1>Q & A Form</h1>
  </header> -->
    {{outlet}}
  <!-- <hr> -->


<footer>
    {{#link-to 'contact'}}We are here to help!{{/link-to}}
  </footer>

<!-- </div> -->
