<p>Our crew is ready to assit you with wahatever answers you may need for your questions you ask yourselves everytime.<br>But be aware that we dont give answers to some questions because it may be due to use of vulgar language or asking a question in a wrong way.</P>

  <p> Reach Us Anytime! </p>

  <p>
    Q and A Department<br>
    Off Ngong Road Street 14<br>
    P.O.BOX 14-00100<br>
    Nairobi, Kenya.<br>
  </p>

  <p>Phone: +254 723975263</P>

    <p>[email: gmchana254@gmail.com]</p>
