<div class="body">

<div class="jumbotron">

<h1> Q & A Form. </h1>
</div>
<div class="body" id="bd">

<p> Don't be shocked!!! You aren't lost, you are in the correct direction, you are almost to your destination :)</p>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Holla Q and A here.{{/link-to}}

<ul>
  {{#each model as |question|}}
    <li>{{question-tile question=question edit="edit"}}</li>
  {{/each}}
</ul>
{{new-question saveQuestion="saveQuestion"}}

  </div>
</div>
